#app {
	position: absolute;
	z-index: 1000;
	width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
}

.registrationForm {  
    position: relative;
    margin: 5% auto;    
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0 10px 30px #afb5ec;
    overflow: hidden;
    backdrop-filter: blur(5px);

}

.registrationFields {
    margin: 30px 30px 0 30px;
    display: grid;
    justify-items: center;
}

h1 {
    margin-bottom: 20px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

input[type="text"],input[type="password"] {
    display: block;
    width: 250px;
    height: 50px;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 20px #afb5ec;
}

*:focus {
    outline: none;
}

input::placeholder {
    color: rgb(54, 54, 54);
    font-style: italic;
    font-size: 15px;
}

input[type="submit"] {
    display: block;
    min-width: 170px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #8c2bdb, #4000e9);
    box-shadow: 0 5px 20px #afb5ec;
    color: #FFF;
    font-family: Arial;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

input[type="submit"]:active {
    opacity: 1;
}

a {
    text-decoration: none;
}
a:hover {
	color: #4000e9;
}

.line:after{
    display: block;
	width: 100%;
	height: 2px;
	content: ' ';
	margin-top: 10px;
	background: linear-gradient(to right, rgba(147,184,189,0) 0%,#8c2bdb 20%,#7926d8 53%,#4000e9 79%,rgba(147,184,189,0) 100%);
}

.registrationServices {
    margin: 0 30px 20px 30px;
    /* background: linear-gradient(to right, #8c2bdb, #4000e9); */
}

input[type="image"] {
    height: 50px;
    width: 50px;
    margin: 5px 15px 0 15px;
    /* padding: 5px 15px 0 15px; */
    border-radius: 50%;
}